<html>
  <head>
    <title>Backbone Dashboard</title>
    <link rel="stylesheet" href="/style/main.css">
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <h1>Taskrrr</h1>
    <em>Note to self: buy orange mocha frappuccino!</em>
    <hr>

    <%= yield %>

    <hr>
    &copy 2015-2016 Taskrrr.
  </body>

</html>
